.inputStyle{
    margin: 10px;
    padding: 10px 20px;
    border-radius:  15px 0px 15px 0px;
    border: 2px solid green;
    
}
.input-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    background-color: green;
    color: white;
}
.textarea-input{
    margin: 10px;
    padding: 10px 25px;
    border-radius:  15px 0px 15px 0px;
    border: 2px solid green;
}