.logo-img{
    width: 60px;
}
.bg-color{
    background-color:#622CED;
}
.user-name{
    background-color: rgba(248, 248, 244, 0.185);
    padding: 10px;
    border-radius: 20px;
}
.user-img{
    height: 35px;
    border-radius: 50%;
}
.user-name-main{
    background-color: rgba(248, 248, 244, 0.185);
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
}
